*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url("../Img/FondoJugadorSala.png");
    background-repeat: no-repeat;   
    background-size: 100%;    
}

.salaJugadores{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.salaJugadores h2{
    position:  absolute;
    margin-top: -116%;
    margin-left: 40%;
    color: white;
    font-size: 24px;
    font-weight: bolder;
}

.cantidadJugadores{
    z-index: 20;
    position: absolute;
    margin-top: -98%;
    margin-left: 10%;
}

.cantidadJugadores h3{
    color: white;
    font-size: 25px;
}

.carta{
    width: 40px;
    margin: 12px;
    height: 30px;
    background-color: #2EEF51;
    border-color: black;
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 27px;
    cursor: pointer;
}

.cartaFlex{
    display: flex;
}

#inputs-jugadores{
    position:  absolute;
    margin-top: 22%;
    margin-left:34%;
    background-attachment: fixed;
}

#inputs-jugadores input{
    width: 300px;
    background-attachment: fixed;

}

#inputs-jugadores label {
    color: white;
    background-attachment: fixed;
}

.inputLabel{
    display: flex;
    gap: 12px;
}


.inputLabel label{
    margin-top: 12px;
}

.trasparencia{
    position: absolute;
    z-index: 1;
    margin-top: -105%;
    margin-left: 5%;
    width: 90%;
    height: 87%;
  background-color: rgba(32, 32, 51, 0.719);
}

